.model-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.model.dark{
      background: linear-gradient(135deg, rgba(58, 14, 179, 0.9), rgba(182, 11, 133, 0.9));
      color: #fff;

}


.model {
    background: #ffffff;
    padding: 30px 22px;
    width: 380px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.model h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #222;
}
.model h2.dark{
    color: white;
}

.model p {
    color: #666;
    margin-bottom: 22px;
    font-size: 15px;
}
.model p.dark{
    color: white;
}

.model-actions {
    display: flex;
    justify-content: center;
    gap: 14px;
}

 .model-actions .btn {
        padding: 10px 18px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 14px;
}

.btn-cancel {
    background: #f1efef;
    color: #030303;
}
.btn-cancel:hover {
    background: linear-gradient(#2ab6aa,#1d4949);
    color: #030303;
}

.btn-delete {
    background: #d80d0a;
    color: #fff;
}
.btn-delete:hover {
   background: linear-gradient(#530808,#ec4141);
    color: #fff;
}

