
.edit-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.form1.light{
  background: white;
  color: #000;
}
.form1.dark{
  background: linear-gradient(135deg, rgba(58, 14, 179, 0.9), rgba(182, 11, 133, 0.9));
  color: #fff;
}
/* Modal box */
.form1 {
  background: #fff;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Title */
.title{
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  color: #222;
}
.title.dark{
color: #ffffff;}

/* Inputs & select */
.input-fielld {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.input-fielld:focus {
  border-color: #6c63ff;
}

/* Buttons */
.cancel-button,
.save-button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

/* Cancel */
.cancel-button {
  background: #e97070;
  color: #ffffff;
}

/* Save */
.save-button {
  background: #6c63ff;
  color: #fff;
}
/* Button group */
.button-group1 {
  display: flex;
  
  justify-content: end;
  gap: 12px;
  margin-top: 10px;
}

/* Both buttons equal width */
.cancel-button,
.save-button {
  flex: 1;
}

/* Button hover */
.cancel-button:hover {
  background: #b60707;
}

.save-button:hover {
  background: #2a20dd;
}
