.login-container{
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.login-left{
    flex: 1;
    background-color: rgb(75, 75, 202);
    display: flex;
    align-items: center;
    justify-content: center;
}
.otp-container {
  display: flex;
  gap: 40px;
  margin: 15px 0;
}

.otp-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.login-left img{
    width: 60%;
    max-width: 400px;
}

.login-rigst{
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-rigst h2{
   
    width: 100%;
    max-width: 380px;
    font-size: 32px;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 10px; 
}

.subtitle{
    width: 100%;
    max-width: 380px;
    margin-bottom: 30px;
    text-align: left;
    margin-bottom: 40px; 
}

.login-rigst p{
    text-align: center;
}

.login-rigst form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.input-field{
    width: 100%;
    max-width: 380px;
    padding: 14px 16px;
    margin-bottom: 16px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
   
}

.input-field:focus{
    border-color: #5f32e6;
}

.btn{
    width: 100%;
    max-width: 380px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 16px;
}

.primary{
    background-color: #7c5fd3;
    color: white;
    text-align: center;
}

.secondary{
    background-color: #7c5fd3;
    color: white;
    text-align: center;
}

.error{
    color: red;
}

.login-container{
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.login-left{
    flex: 1;
   
     background: linear-gradient(
  135deg,
  #05098b8c,
  rgba(104, 38, 197, 0.55),
  rgba(161, 25, 132, 0.55),
  #05098b8c
);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left img{
    width: 60%;
    max-width: 400px;
    height: 60%;
}

.login-rigst{
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-rigst h2{
    width: 100%;
    max-width: 380px;
    font-size: 32px;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 10px; 
    text-align: center;
}

.subtitle{
    width: 100%;
    max-width: 380px;
    margin-bottom: 30px;
    text-align: left;
    margin-bottom: 40px; 
}

.login-rigst form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field{
    width: 100%;
    max-width: 380px;
    padding: 14px 16px;
    margin-bottom: 16px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.input-field:focus{
    border-color: #5f32e6;
}

.btn{
    width: 100%;
    max-width: 380px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 16px;
}

.primary{
    background-color: #7c5fd3;
    color: white;
    text-align: center;
}

.secondary{
    background-color: #7c5fd3;
    color: white;
    text-align: center;
}

.error{
    color: red;
}

.login-left img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.35);
}

